/* Fonts */

@font-face {
	font-family: gg sans;
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/gg-sans-400.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: gg sans;
	font-style: normal;
	font-weight: 600;
	src: url(../assets/fonts/gg-sans-600.woff2) format('woff2');
	font-display: swap;
}

/* Variables */

:root {
	--saturation-factor: 1;
	--black-500-rgb: 0, 0, 0;
	--brand-new-400: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 71.8%);
	--brand-new-500: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
	--link-500: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
	--link-light-500: hsl(212, calc(var(--saturation-factor, 1) * 100%), 43.9%);
	--primary-dark-200: hsl(210, calc(var(--saturation-factor, 1) * 2.9%), 86.7%);
	--primary-dark-300: hsl(216, calc(var(--saturation-factor, 1) * 3.7%), 73.5%);
	--primary-dark-400: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);
	--primary-dark-500: hsl(217, calc(var(--saturation-factor, 1) * 7.6%), 33.5%);
	--primary-dark-500-rgb: 79, 84, 92;
	--primary-dark-600: hsl(220, calc(var(--saturation-factor, 1) * 7.7%), 22.9%);
	--primary-dark-630: hsl(223, calc(var(--saturation-factor, 1) * 6.9%), 19.8%);
	--primary-dark-700: hsl(216, calc(var(--saturation-factor, 1) * 7.2%), 13.5%);
	--primary-light-130: hsl(220, calc(var(--saturation-factor, 1) * 13%), 95.5%);
	--primary-light-200: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
	--primary-light-300: hsl(210, calc(var(--saturation-factor, 1) * 9.8%), 80%);
	--primary-light-530-rgb: 106, 116, 128;
	/* prettier-ignore */
	--primary-light-600: hsl(215, calc(var(--saturation-factor, 1) * 9.7%), 34.3%);
	--primary-light-700: hsl(210, calc(var(--saturation-factor, 1) * 9.8%), 20%);
	--primary-light-900: hsl(240, calc(var(--saturation-factor, 1) * 7.7%), 2.5%);
	--white-500: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
	--brand-experiment-400: var(--brand-new-400);
	--brand-experiment-500: var(--brand-new-500);
}

.theme-dark {
	--github-logo-color: #fff;
	--background-primary: var(--primary-dark-600);
	--background-secondary: var(--primary-dark-630);
	--background-modifier-hover: rgba(var(--primary-dark-500-rgb), 0.4);
	--background-modifier-selected: rgba(var(--primary-dark-500-rgb), 0.6);
	--background-tertiary: var(--primary-dark-700);
	--header-secondary: var(--primary-dark-300);
	--interactive-active: var(--white-500);
	--interactive-muted: var(--primary-dark-500);
	--text-normal: var(--primary-dark-200);
	--text-link: var(--link-500);
	--scrollbar-thin-thumb: var(--primary-dark-700);
	--scrollbar-thin-track: rgba(var(--black-500-rgb), 0);
	--unchecked-checkbox-border: var(--primary-dark-400);
}

.theme-light {
	--github-logo-color: #24292f;
	--background-primary: var(--white-500);
	--background-secondary: var(--primary-light-130);
	--background-modifier-hover: rgba(var(--primary-light-530-rgb), 0.16);
	--background-modifier-selected: rgba(var(--primary-light-530-rgb), 0.24);
	--background-tertiary: var(--primary-light-200);
	--header-secondary: var(--primary-light-600);
	--interactive-active: var(--primary-light-900);
	--interactive-muted: var(--primary-light-300);
	--text-normal: var(--primary-light-700);
	--text-link: var(--link-light-500);
	--scrollbar-thin-thumb: rgba(var(--primary-dark-500-rgb), 0.3);
	--scrollbar-thin-track: rgba(var(--black-500-rgb), 0);
	--unchecked-checkbox-border: var(--primary-dark-300);
}

/* Main */

body {
	color: var(--text-normal);
	background: var(--background-primary);
	font-family: gg sans, Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1,
h2,
label {
	font-weight: 600;
}

h1 {
	font-size: 150%;
	margin: 0;
	padding: 1em 0 0.5em;
}

h2,
aside > div {
	font-size: 120%;
	margin: 1.5em 0 0.5em 0;
}

a {
	color: var(--text-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

aside {
	background: var(--background-secondary);
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	padding: 0 1.5em 1em;
	position: fixed;
	top: 0;
	width: 16em;
}

label[for='light-theme'] {
	display: inline-grid;
	grid-column-gap: 12px;
}

input#light-theme {
	z-index: 1;
	grid-column: 2;
}

#checkbox {
	border: 1px solid;
	border-radius: 6px;
	height: 24px;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2;
	cursor: pointer;
}

#light-theme:not(:checked) + #checkbox {
	border-color: var(--unchecked-checkbox-border);
}

#light-theme:not(:checked) + #checkbox #tick {
	fill: transparent;
}

#light-theme:checked + #checkbox {
	background-color: var(--brand-experiment-500);
	border-color: var(--brand-experiment-400);
}

#light-theme:checked + #checkbox #tick {
	fill: var(--white-500);
}

aside ul,
aside li {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside ul {
	position: relative;
	overflow-y: auto;
	scrollbar-width: thin;
}

aside ul::-webkit-scrollbar {
	width: 8px;
}

aside ul::-webkit-scrollbar-track {
	background: var(--scrollbar-thin-track);
	border-radius: 5px;
}

aside ul::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thin-thumb);
	border-radius: 5px;
}

aside li {
	padding: 1px 1em;
	cursor: pointer;
	/* Make arrow thing centered vertically */
	display: flex;
	align-items: center;
}

aside li:hover {
	background: var(--background-modifier-hover);
}

aside li.current {
	background: var(--background-modifier-selected);
}

aside li.current:before {
	content: '▶\FE0E';
	font-size: smaller;
	position: absolute;
	left: 0;
}

main {
	margin-left: 18em;
	min-width: 36em;
	padding: 1px 4em;
}

main > div {
	margin: 2.5em 0 3em;
}

.hidden {
	display: none;
}

code {
	overflow-x: auto;
	padding: 0.5em;
	-moz-tab-size: 4;
	tab-size: 4;
}

/* Stuff from Discord */

pre {
	background: var(--background-secondary);
	margin-top: 6px;
	border: 1px solid var(--background-tertiary);
	border-radius: 4px;
}

code {
	font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console,
		Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
	font-size: 0.875rem;
	line-height: 1.125rem;
	margin: 0;
	text-indent: 0;
	white-space: pre-wrap;
}

.hljs-ansi-control-sequence {
	display: none;
}

.hljs-ansi-style-bold {
	font-weight: 700;
}

.hljs-ansi-style-underline {
	text-decoration: underline;
}

.hljs-ansi-foreground-black {
	color: var(--interactive-muted);
}

.hljs-ansi-foreground-black .hljs-ansi-background-black,
.hljs-ansi-foreground-black .hljs-ansi-background-blue,
.hljs-ansi-foreground-black .hljs-ansi-background-cyan,
.hljs-ansi-foreground-black .hljs-ansi-background-green,
.hljs-ansi-foreground-black .hljs-ansi-background-magenta,
.hljs-ansi-foreground-black .hljs-ansi-background-red,
.hljs-ansi-foreground-black .hljs-ansi-background-white,
.hljs-ansi-foreground-black .hljs-ansi-background-yellow {
	color: #073642;
}

.hljs-ansi-foreground-red {
	color: #dc322f;
}

.hljs-ansi-foreground-green {
	color: #859900;
}

.hljs-ansi-foreground-yellow {
	color: #b58900;
}

.hljs-ansi-foreground-blue {
	color: #268bd2;
}

.hljs-ansi-foreground-magenta {
	color: #d33682;
}

.hljs-ansi-foreground-cyan {
	color: #2aa198;
}

.hljs-ansi-foreground-white {
	color: var(--interactive-active);
}

.hljs-ansi-foreground-white .hljs-ansi-background-black,
.hljs-ansi-foreground-white .hljs-ansi-background-blue,
.hljs-ansi-foreground-white .hljs-ansi-background-cyan,
.hljs-ansi-foreground-white .hljs-ansi-background-green,
.hljs-ansi-foreground-white .hljs-ansi-background-magenta,
.hljs-ansi-foreground-white .hljs-ansi-background-red,
.hljs-ansi-foreground-white .hljs-ansi-background-white,
.hljs-ansi-foreground-white .hljs-ansi-background-yellow {
	color: #eee8d5;
}

.hljs-ansi-background-black {
	background-color: #002b36;
}

.hljs-ansi-background-red {
	background-color: #cb4b16;
}

.hljs-ansi-background-green {
	background-color: #586e75;
}

.hljs-ansi-background-yellow {
	background-color: #657b83;
}

.hljs-ansi-background-blue {
	background-color: #839496;
}

.hljs-ansi-background-magenta {
	background-color: #6c71c4;
}

.hljs-ansi-background-cyan {
	background-color: #93a1a1;
}

.hljs-ansi-background-white {
	background-color: #fdf6e3;
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	border-radius: 4px;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	color: var(--text-normal);
}

.theme-dark .hljs-doctag,
.theme-dark .hljs-keyword,
.theme-dark .hljs-meta .hljs-keyword,
.theme-dark .hljs-template-tag,
.theme-dark .hljs-template-variable,
.theme-dark .hljs-type,
.theme-dark .hljs-variable.language_ {
	color: #ff7b72;
}

.theme-dark .hljs-title,
.theme-dark .hljs-title.class_,
.theme-dark .hljs-title.class_.inherited__,
.theme-dark .hljs-title.function_ {
	color: #d2a8ff;
}

.theme-dark .hljs-attr,
.theme-dark .hljs-attribute,
.theme-dark .hljs-literal,
.theme-dark .hljs-meta,
.theme-dark .hljs-number,
.theme-dark .hljs-operator,
.theme-dark .hljs-selector-attr,
.theme-dark .hljs-selector-class,
.theme-dark .hljs-selector-id,
.theme-dark .hljs-variable {
	color: #79c0ff;
}

.theme-dark .hljs-meta .hljs-string,
.theme-dark .hljs-regexp,
.theme-dark .hljs-string {
	color: #a5d6ff;
}

.theme-dark .hljs-built_in,
.theme-dark .hljs-symbol {
	color: #ffa657;
}

.theme-dark .hljs-code,
.theme-dark .hljs-comment,
.theme-dark .hljs-formula {
	color: #8b949e;
}

.theme-dark .hljs-name,
.theme-dark .hljs-quote,
.theme-dark .hljs-selector-pseudo,
.theme-dark .hljs-selector-tag {
	color: #7ee787;
}

.theme-dark .hljs-subst {
	color: #c9d1d9;
}

.theme-dark .hljs-section {
	color: #1f6feb;
	font-weight: 700;
}

.theme-dark .hljs-bullet {
	color: #f2cc60;
}

.theme-dark .hljs-emphasis {
	color: #c9d1d9;
	font-style: italic;
}

.theme-dark .hljs-strong {
	color: #c9d1d9;
	font-weight: 700;
}

.theme-dark .hljs-addition {
	color: #aff5b4;
	background-color: #033a16;
}

.theme-dark .hljs-deletion {
	color: #ffdcd7;
	background-color: #67060c;
}

.theme-light .hljs-doctag,
.theme-light .hljs-keyword,
.theme-light .hljs-meta .hljs-keyword,
.theme-light .hljs-template-tag,
.theme-light .hljs-template-variable,
.theme-light .hljs-type,
.theme-light .hljs-variable.language_ {
	color: #d73a49;
}

.theme-light .hljs-title,
.theme-light .hljs-title.class_,
.theme-light .hljs-title.class_.inherited__,
.theme-light .hljs-title.function_ {
	color: #6f42c1;
}

.theme-light .hljs-attr,
.theme-light .hljs-attribute,
.theme-light .hljs-literal,
.theme-light .hljs-meta,
.theme-light .hljs-number,
.theme-light .hljs-operator,
.theme-light .hljs-selector-attr,
.theme-light .hljs-selector-class,
.theme-light .hljs-selector-id,
.theme-light .hljs-variable {
	color: #005cc5;
}

.theme-light .hljs-meta .hljs-string,
.theme-light .hljs-regexp,
.theme-light .hljs-string {
	color: #032f62;
}

.theme-light .hljs-built_in,
.theme-light .hljs-symbol {
	color: #e36209;
}

.theme-light .hljs-code,
.theme-light .hljs-comment,
.theme-light .hljs-formula {
	color: #6a737d;
}

.theme-light .hljs-name,
.theme-light .hljs-quote,
.theme-light .hljs-selector-pseudo,
.theme-light .hljs-selector-tag {
	color: #22863a;
}

.theme-light .hljs-subst {
	color: #24292e;
}

.theme-light .hljs-section {
	color: #005cc5;
	font-weight: 700;
}

.theme-light .hljs-bullet {
	color: #735c0f;
}

.theme-light .hljs-emphasis {
	color: #24292e;
	font-style: italic;
}

.theme-light .hljs-strong {
	color: #24292e;
	font-weight: 700;
}

.theme-light .hljs-addition {
	color: #22863a;
	background-color: #f0fff4;
}

.theme-light .hljs-deletion {
	color: #b31d28;
	background-color: #ffeef0;
}
