/* TODO: support high-contrast mode */

:root,
body {
	--font-code:
		'gg mono', 'Source Code Pro', Consolas, 'Andale Mono WT', 'Andale Mono',
		'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
		'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
		'Courier New', Courier, monospace;
	--saturation-factor: 1;

	--neutral-1: hsl(var(--neutral-1-hsl) / 1);
	--neutral-1-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 100%;
	--neutral-2: hsl(var(--neutral-2-hsl) / 1);
	--neutral-2-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 98.431%;
	--neutral-4: hsl(var(--neutral-4-hsl) / 1);
	--neutral-4-hsl: 240 calc(var(--saturation-factor, 1) * 4.348%) 95.49%;
	--neutral-5: hsl(var(--neutral-5-hsl) / 1);
	--neutral-5-hsl: 240 calc(var(--saturation-factor, 1) * 6.667%) 94.118%;
	--neutral-8: hsl(var(--neutral-8-hsl) / 1);
	--neutral-8-hsl: 240 calc(var(--saturation-factor, 1) * 3.846%) 89.804%;
	--neutral-9: hsl(var(--neutral-9-hsl) / 1);
	--neutral-9-hsl: 240 calc(var(--saturation-factor, 1) * 5.085%) 88.431%;
	--neutral-10: hsl(var(--neutral-10-hsl) / 1);
	--neutral-10-hsl: 240 calc(var(--saturation-factor, 1) * 4.478%) 86.863%;
	--neutral-13: hsl(var(--neutral-13-hsl) / 1);
	--neutral-13-hsl: 240 calc(var(--saturation-factor, 1) * 4.545%) 82.745%;
	--neutral-16: hsl(var(--neutral-16-hsl) / 1);
	--neutral-16-hsl: 228 calc(var(--saturation-factor, 1) * 4.505%) 78.235%;
	--neutral-21: hsl(var(--neutral-21-hsl) / 1);
	--neutral-21-hsl: 240 calc(var(--saturation-factor, 1) * 4.11%) 71.373%;
	--neutral-23: hsl(var(--neutral-23-hsl) / 1);
	--neutral-23-hsl: 231.429 calc(var(--saturation-factor, 1) * 4.348%) 68.431%;
	--neutral-27: hsl(var(--neutral-27-hsl) / 1);
	--neutral-27-hsl: 232.5 calc(var(--saturation-factor, 1) * 4.255%) 63.137%;
	--neutral-28: hsl(var(--neutral-28-hsl) / 1);
	--neutral-28-hsl: 232.5 calc(var(--saturation-factor, 1) * 4.082%) 61.569%;
	--neutral-32: hsl(var(--neutral-32-hsl) / 1);
	--neutral-32-hsl: 233.333 calc(var(--saturation-factor, 1) * 4.036%) 56.275%;
	--neutral-38: hsl(var(--neutral-38-hsl) / 1);
	--neutral-38-hsl: 234 calc(var(--saturation-factor, 1) * 4.065%) 48.235%;
	--neutral-42: hsl(var(--neutral-42-hsl) / 1);
	--neutral-42-hsl: 234 calc(var(--saturation-factor, 1) * 4.545%) 43.137%;
	--neutral-44: hsl(var(--neutral-44-hsl) / 1);
	--neutral-44-hsl: 234.545 calc(var(--saturation-factor, 1) * 5.314%) 40.588%;
	--neutral-46: hsl(var(--neutral-46-hsl) / 1);
	--neutral-46-hsl: 234.545 calc(var(--saturation-factor, 1) * 5.641%) 38.235%;
	--neutral-62: hsl(var(--neutral-62-hsl) / 1);
	--neutral-62-hsl: 233.333 calc(var(--saturation-factor, 1) * 6.977%) 25.294%;
	--neutral-66: hsl(var(--neutral-66-hsl) / 1);
	--neutral-66-hsl: 232.5 calc(var(--saturation-factor, 1) * 6.897%) 22.745%;
	--neutral-69: hsl(var(--neutral-69-hsl) / 1);
	--neutral-69-hsl: 231.429 calc(var(--saturation-factor, 1) * 6.542%) 20.98%;
	--neutral-71: hsl(var(--neutral-71-hsl) / 1);
	--neutral-71-hsl: 230 calc(var(--saturation-factor, 1) * 6%) 19.608%;
	--neutral-73: hsl(var(--neutral-73-hsl) / 1);
	--neutral-73-hsl: 230 calc(var(--saturation-factor, 1) * 6.383%) 18.431%;
	--neutral-76: hsl(var(--neutral-76-hsl) / 1);
	--neutral-76-hsl: 240 calc(var(--saturation-factor, 1) * 5.882%) 16.667%;
	--neutral-82: hsl(var(--neutral-82-hsl) / 1);
	--neutral-82-hsl: 240 calc(var(--saturation-factor, 1) * 5.882%) 13.333%;
	--neutral-87: hsl(var(--neutral-87-hsl) / 1);
	--neutral-87-hsl: 240 calc(var(--saturation-factor, 1) * 5.66%) 10.392%;
	--neutral-92: hsl(var(--neutral-92-hsl) / 1);
	--neutral-92-hsl: 240 calc(var(--saturation-factor, 1) * 5.263%) 7.451%;
	--neutral-95: hsl(var(--neutral-95-hsl) / 1);
	--neutral-95-hsl: 240 calc(var(--saturation-factor, 1) * 7.692%) 5.098%;
	--neutral-100: hsl(var(--neutral-100-hsl) / 1);
	--neutral-100-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 0%;
	--blue-new-14: hsl(var(--blue-new-14-hsl) / 1);
	--blue-new-14-hsl: 214.286 calc(var(--saturation-factor, 1) * 100%) 83.529%;
	--blue-new-24: hsl(var(--blue-new-24-hsl) / 1);
	--blue-new-24-hsl: 213.051 calc(var(--saturation-factor, 1) * 89.394%) 74.118%;
	--blue-new-26: hsl(var(--blue-new-26-hsl) / 1);
	--blue-new-26-hsl: 213.12 calc(var(--saturation-factor, 1) * 88.652%) 72.353%;
	--blue-new-31: hsl(var(--blue-new-31-hsl) / 1);
	--blue-new-31-hsl: 213.191 calc(var(--saturation-factor, 1) * 85.455%) 67.647%;
	--blue-new-36: hsl(var(--blue-new-36-hsl) / 1);
	--blue-new-36-hsl: 212.866 calc(var(--saturation-factor, 1) * 83.069%) 62.941%;
	--blue-new-42: hsl(var(--blue-new-42-hsl) / 1);
	--blue-new-42-hsl: 212.514 calc(var(--saturation-factor, 1) * 80.995%) 56.667%;
	--blue-new-49: hsl(var(--blue-new-49-hsl) / 1);
	--blue-new-49-hsl: 209.327 calc(var(--saturation-factor, 1) * 95.708%) 45.686%;
	--blue-new-62: hsl(var(--blue-new-62-hsl) / 1);
	--blue-new-62-hsl: 209.294 calc(var(--saturation-factor, 1) * 98.837%) 33.725%;
	--blurple-13: hsl(var(--blurple-13-hsl) / 1);
	--blurple-13-hsl: 227.463 calc(var(--saturation-factor, 1) * 100%) 86.863%;
	--blurple-23: hsl(var(--blurple-23-hsl) / 1);
	--blurple-23-hsl: 228.367 calc(var(--saturation-factor, 1) * 100%) 80.784%;
	--blurple-30: hsl(var(--blurple-30-hsl) / 1);
	--blurple-30-hsl: 229.655 calc(var(--saturation-factor, 1) * 96.667%) 76.471%;
	--blurple-62: hsl(var(--blurple-62-hsl) / 1);
	--blurple-62-hsl: 232.566 calc(var(--saturation-factor, 1) * 46.888%) 47.255%;
	--green-new-14: hsl(var(--green-new-14-hsl) / 1);
	--green-new-14-hsl: 136.901 calc(var(--saturation-factor, 1) * 53.383%)
		73.922%;
	--green-new-15: hsl(var(--green-new-15-hsl) / 1);
	--green-new-15-hsl: 136.056 calc(var(--saturation-factor, 1) * 51.079%)
		72.745%;
	--green-new-23: hsl(var(--green-new-23-hsl) / 1);
	--green-new-23-hsl: 137.468 calc(var(--saturation-factor, 1) * 42.246%)
		63.333%;
	--green-new-25: hsl(var(--green-new-25-hsl) / 1);
	--green-new-25-hsl: 137.778 calc(var(--saturation-factor, 1) * 40.704%) 60.98%;
	--green-new-29: hsl(var(--green-new-29-hsl) / 1);
	--green-new-29-hsl: 138.353 calc(var(--saturation-factor, 1) * 38.117%)
		56.275%;
	--green-new-31: hsl(var(--green-new-31-hsl) / 1);
	--green-new-31-hsl: 138.837 calc(var(--saturation-factor, 1) * 36.441%)
		53.725%;
	--green-new-62: hsl(var(--green-new-62-hsl) / 1);
	--green-new-62-hsl: 150.291 calc(var(--saturation-factor, 1) * 100%) 20.196%;
	--green-new-65: hsl(var(--green-new-65-hsl) / 1);
	--green-new-65-hsl: 150.316 calc(var(--saturation-factor, 1) * 100%) 18.627%;
	--red-new-5: hsl(var(--red-new-5-hsl) / 1);
	--red-new-5-hsl: 2.4 calc(var(--saturation-factor, 1) * 100%) 90.196%;
	--red-new-10: hsl(var(--red-new-10-hsl) / 1);
	--red-new-10-hsl: 3.429 calc(var(--saturation-factor, 1) * 100%) 86.275%;
	--red-new-15: hsl(var(--red-new-15-hsl) / 1);
	--red-new-15-hsl: 3.371 calc(var(--saturation-factor, 1) * 100%) 82.549%;
	--red-new-21: hsl(var(--red-new-21-hsl) / 1);
	--red-new-21-hsl: 2.727 calc(var(--saturation-factor, 1) * 100%) 78.431%;
	--red-new-22: hsl(var(--red-new-22-hsl) / 1);
	--red-new-22-hsl: 2.655 calc(var(--saturation-factor, 1) * 100%) 77.843%;
	--red-new-27: hsl(var(--red-new-27-hsl) / 1);
	--red-new-27-hsl: 2.4 calc(var(--saturation-factor, 1) * 92.593%) 73.529%;
	--red-new-28: hsl(var(--red-new-28-hsl) / 1);
	--red-new-28-hsl: 1.905 calc(var(--saturation-factor, 1) * 90%) 72.549%;
	--red-new-60: hsl(var(--red-new-60-hsl) / 1);
	--red-new-60-hsl: 355.075 calc(var(--saturation-factor, 1) * 65.686%) 40%;
	--red-new-63: hsl(var(--red-new-63-hsl) / 1);
	--red-new-63-hsl: 354.803 calc(var(--saturation-factor, 1) * 67.196%) 37.059%;
	--red-new-65: hsl(var(--red-new-65-hsl) / 1);
	--red-new-65-hsl: 354.59 calc(var(--saturation-factor, 1) * 67.778%) 35.294%;
	--teal-new-15: hsl(var(--teal-new-15-hsl) / 1);
	--teal-new-15-hsl: 185.06 calc(var(--saturation-factor, 1) * 58.042%) 71.961%;
	--teal-new-25: hsl(var(--teal-new-25-hsl) / 1);
	--teal-new-25-hsl: 185.243 calc(var(--saturation-factor, 1) * 49.282%) 59.02%;
	--teal-new-31: hsl(var(--teal-new-31-hsl) / 1);
	--teal-new-31-hsl: 184.615 calc(var(--saturation-factor, 1) * 46.614%) 50.784%;
	--teal-new-63: hsl(var(--teal-new-63-hsl) / 1);
	--teal-new-63-hsl: 186 calc(var(--saturation-factor, 1) * 100%) 21.569%;
	--black-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 0%;
	--yellow-new-29: hsl(var(--yellow-new-29-hsl) / 1);
	--yellow-new-29-hsl: 38.844 calc(var(--saturation-factor, 1) * 100%) 66.078%;
	--yellow-new-51: hsl(var(--yellow-new-51-hsl) / 1);
	--yellow-new-51-hsl: 39.098 calc(var(--saturation-factor, 1) * 100%) 47.843%;
	--yellow-new-55: hsl(var(--yellow-new-55-hsl) / 1);
	--yellow-new-55-hsl: 38.571 calc(var(--saturation-factor, 1) * 100%) 43.922%;
	--yellow-new-75: hsl(var(--yellow-new-75-hsl) / 1);
	--yellow-new-75-hsl: 31.765 calc(var(--saturation-factor, 1) * 100%) 26.667%;
	--orange-new-12: hsl(var(--orange-new-12-hsl) / 1);
	--orange-new-12-hsl: 20.44 calc(var(--saturation-factor, 1) * 93.814%) 80.98%;
	--orange-new-22: hsl(var(--orange-new-22-hsl) / 1);
	--orange-new-22-hsl: 22.131 calc(var(--saturation-factor, 1) * 79.221%)
		69.804%;
	--orange-new-29: hsl(var(--orange-new-29-hsl) / 1);
	--orange-new-29-hsl: 22.174 calc(var(--saturation-factor, 1) * 71.875%)
		62.353%;
	--orange-new-61: hsl(var(--orange-new-61-hsl) / 1);
	--orange-new-61-hsl: 22.857 calc(var(--saturation-factor, 1) * 96.078%) 30%;
	--pink-13: hsl(var(--pink-13-hsl) / 1);
	--pink-13-hsl: 314.795 calc(var(--saturation-factor, 1) * 100%) 85.686%;
	--pink-29: hsl(var(--pink-29-hsl) / 1);
	--pink-29-hsl: 315 calc(var(--saturation-factor, 1) * 100%) 77.255%;
	--pink-41: hsl(var(--pink-41-hsl) / 1);
	--pink-41-hsl: 315.2 calc(var(--saturation-factor, 1) * 100%) 70.588%;
	--pink-70: hsl(var(--pink-70-hsl) / 1);
	--pink-70-hsl: 315 calc(var(--saturation-factor, 1) * 59.794%) 38.039%;
	--primary-300: hsl(var(--primary-300-hsl) / 1);
	--primary-300-hsl: 210 calc(var(--saturation-factor, 1) * 9.259%) 78.824%;
	--primary-500: hsl(var(--primary-500-hsl) / 1);
	--primary-500-hsl: 228 calc(var(--saturation-factor, 1) * 6.024%) 32.549%;
	--plum-13: hsl(var(--plum-13-hsl) / 1);
	--plum-13-hsl: 227.143 calc(var(--saturation-factor, 1) * 8.333%) 32.941%;
	--opacity-8-hsl: 240 calc(var(--saturation-factor, 1) * 4%) 60.784%;
	--opacity-12-hsl: 240 calc(var(--saturation-factor, 1) * 4%) 60.784%;
	--opacity-20-hsl: 240 calc(var(--saturation-factor, 1) * 4%) 60.784%;
	--opacity-24-hsl: 240 calc(var(--saturation-factor, 1) * 4%) 60.784%;
	--opacity-28-hsl: 240 calc(var(--saturation-factor, 1) * 4%) 60.784%;
	--opacity-32-hsl: 240 calc(var(--saturation-factor, 1) * 4%) 60.784%;
	--opacity-36-hsl: 240 calc(var(--saturation-factor, 1) * 4%) 60.784%;
	--opacity-blurple-4-hsl: 234.935 calc(var(--saturation-factor, 1) * 85.556%)
		64.706%;
	--opacity-blurple-8-hsl: 234.935 calc(var(--saturation-factor, 1) * 85.556%)
		64.706%;
	--opacity-green-12-hsl: 151.128 calc(var(--saturation-factor, 1) * 100%)
		26.078%;
	--opacity-red-12-hsl: 355.636 calc(var(--saturation-factor, 1) * 64.706%) 50%;
	--opacity-black-8-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 0%;
	--opacity-black-20-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 0%;
}

[data-theme='dark'] {
	--background-base-lowest: var(--neutral-73);
	--background-code: hsl(var(--opacity-blurple-8-hsl) / 0.0784313725490196);
	--background-code-addition: hsl(
		var(--opacity-green-12-hsl) / 0.12156862745098039
	);
	--background-code-deletion: hsl(
		var(--opacity-red-12-hsl) / 0.12156862745098039
	);
	--background-mod-subtle: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
	--background-modifier-hover: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
	--background-modifier-selected: hsl(var(--opacity-20-hsl) / 0.2);
	--background-primary: var(--neutral-66);
	--background-surface-higher: var(--neutral-62);
	--border-normal: hsl(var(--opacity-20-hsl) / 0.2);
	--border-subtle: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
	--interactive-active: var(--neutral-1);
	--interactive-muted: var(--primary-500);
	--input-background: hsl(var(--opacity-black-20-hsl) / 0.2);
	--input-border: hsl(var(--opacity-20-hsl) / 0.2);
	--scrollbar-thin-track: hsl(var(--black-hsl) / 0);
	--scrollbar-thin-thumb: var(--neutral-38);
	--text-code-addition: var(--green-new-14);
	--text-code-attribute: var(--blue-new-14);
	--text-code-builtin: var(--yellow-new-29);
	--text-code-bullet: var(--blue-new-14);
	--text-code-comment: var(--neutral-21);
	--text-code-decorator: var(--yellow-new-29);
	--text-code-deletion: var(--red-new-10);
	--text-code-error: var(--red-new-10);
	--text-code-escape: var(--pink-13);
	--text-code-keyword: var(--red-new-10);
	--text-code-link: var(--blue-new-14);
	--text-code-namespace: var(--blue-new-14);
	--text-code-number: var(--orange-new-12);
	--text-code-operator: var(--red-new-5);
	--text-code-property: var(--teal-new-15);
	--text-code-regexp: var(--green-new-15);
	--text-code-section: var(--red-new-10);
	--text-code-string: var(--green-new-15);
	--text-code-tag: var(--pink-13);
	--text-code-title: var(--blurple-13);
	--text-code-type: var(--pink-13);
	--text-code-variable: var(--neutral-1);
	--text-link: var(--blue-new-26);
	--text-normal: var(--neutral-9);
	--text-secondary: var(--neutral-16);
}

[data-theme='light'] {
	--background-base-lowest: var(--neutral-4);
	--background-code: hsl(var(--opacity-blurple-4-hsl) / 0.0392156862745098);
	--background-code-addition: hsl(
		var(--opacity-green-12-hsl) / 0.12156862745098039
	);
	--background-code-deletion: hsl(
		var(--opacity-red-12-hsl) / 0.12156862745098039
	);
	--background-mod-subtle: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
	--background-modifier-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
	--background-modifier-selected: hsl(
		var(--opacity-24-hsl) / 0.23921568627450981
	);
	--background-primary: var(--neutral-2);
	--background-surface-higher: var(--neutral-1);
	--border-normal: hsl(var(--opacity-36-hsl) / 0.3607843137254902);
	--border-subtle: hsl(var(--opacity-28-hsl) / 0.2784313725490196);
	--interactive-active: var(--neutral-71);
	--interactive-muted: var(--primary-300);
	--input-background: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
	--input-border: hsl(var(--opacity-36-hsl) / 0.3607843137254902);
	--scrollbar-thin-track: hsl(var(--black-hsl) / 0);
	--scrollbar-thin-thumb: var(--neutral-32);
	--text-code-addition: var(--green-new-65);
	--text-code-attribute: var(--blue-new-62);
	--text-code-builtin: var(--yellow-new-75);
	--text-code-bullet: var(--blue-new-62);
	--text-code-comment: var(--neutral-42);
	--text-code-decorator: var(--yellow-new-75);
	--text-code-deletion: var(--red-new-63);
	--text-code-error: var(--red-new-60);
	--text-code-escape: var(--pink-70);
	--text-code-keyword: var(--red-new-60);
	--text-code-link: var(--blue-new-62);
	--text-code-namespace: var(--blue-new-62);
	--text-code-number: var(--orange-new-61);
	--text-code-operator: var(--red-new-65);
	--text-code-property: var(--teal-new-63);
	--text-code-regexp: var(--green-new-62);
	--text-code-section: var(--red-new-60);
	--text-code-string: var(--green-new-62);
	--text-code-tag: var(--pink-70);
	--text-code-title: var(--blurple-62);
	--text-code-type: var(--pink-70);
	--text-code-variable: var(--neutral-66);
	--text-link: var(--blue-new-49);
	--text-normal: var(--neutral-69);
	--text-secondary: var(--neutral-44);
}

[data-theme='midnight'] {
	--background-base-lowest: var(--neutral-100);
	--background-code: hsl(var(--opacity-blurple-8-hsl) / 0.0784313725490196);
	--background-code-addition: hsl(
		var(--opacity-green-12-hsl) / 0.12156862745098039
	);
	--background-code-deletion: hsl(
		var(--opacity-red-12-hsl) / 0.12156862745098039
	);
	--background-modifier-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
	--background-modifier-selected: hsl(
		var(--opacity-24-hsl) / 0.23921568627450981
	);
	--background-primary: var(--neutral-95);
	--background-surface-higher: var(--neutral-87);
	--border-normal: hsl(var(--opacity-32-hsl) / 0.3215686274509804);
	--border-subtle: hsl(var(--opacity-24-hsl) / 0.23921568627450981);
	--interactive-active: var(--neutral-8);
	--interactive-muted: var(--plum-13);
	--input-background: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
	--input-border: hsl(var(--opacity-32-hsl) / 0.3215686274509804);
	--scrollbar-thin-track: hsl(var(--black-hsl) / 0);
	--scrollbar-thin-thumb: var(--neutral-46);
	--text-code: var(--neutral-13);
	--text-code-addition: var(--green-new-29);
	--text-code-attribute: var(--blue-new-31);
	--text-code-builtin: var(--yellow-new-55);
	--text-code-bullet: var(--blue-new-31);
	--text-code-comment: var(--neutral-32);
	--text-code-decorator: var(--yellow-new-55);
	--text-code-deletion: var(--red-new-27);
	--text-code-error: var(--red-new-28);
	--text-code-escape: var(--pink-41);
	--text-code-keyword: var(--red-new-28);
	--text-code-link: var(--blue-new-31);
	--text-code-namespace: var(--blue-new-31);
	--text-code-number: var(--orange-new-29);
	--text-code-operator: var(--red-new-22);
	--text-code-property: var(--teal-new-31);
	--text-code-regexp: var(--green-new-31);
	--text-code-section: var(--red-new-28);
	--text-code-string: var(--green-new-31);
	--text-code-tag: var(--pink-41);
	--text-code-title: var(--blurple-30);
	--text-code-type: var(--pink-41);
	--text-code-variable: var(--neutral-13);
	--text-link: var(--blue-new-42);
	--text-normal: var(--neutral-10);
	--text-secondary: var(--neutral-27);
}

[data-theme='darker'] {
	--background-base-lowest: var(--neutral-92);
	--background-code: hsl(var(--opacity-blurple-8-hsl) / 0.0784313725490196);
	--background-code-addition: hsl(
		var(--opacity-green-12-hsl) / 0.12156862745098039
	);
	--background-code-deletion: hsl(
		var(--opacity-red-12-hsl) / 0.12156862745098039
	);
	--background-mod-subtle: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
	--background-modifier-hover: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
	--background-modifier-selected: hsl(var(--opacity-20-hsl) / 0.2);
	--background-primary: var(--neutral-82);
	--background-surface-higher: var(--neutral-76);
	--border-normal: hsl(var(--opacity-20-hsl) / 0.2);
	--border-subtle: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
	--interactive-active: var(--neutral-2);
	--interactive-muted: var(--plum-13);
	--input-background: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
	--input-border: hsl(var(--opacity-20-hsl) / 0.2);
	--scrollbar-thin-track: hsl(var(--black-hsl) / 0);
	--scrollbar-thin-thumb: var(--neutral-44);
	--text-code: var(--neutral-8);
	--text-code-addition: var(--green-new-23);
	--text-code-attribute: var(--blue-new-24);
	--text-code-builtin: var(--yellow-new-51);
	--text-code-bullet: var(--blue-new-24);
	--text-code-comment: var(--neutral-28);
	--text-code-decorator: var(--yellow-new-51);
	--text-code-deletion: var(--red-new-21);
	--text-code-error: var(--red-new-21);
	--text-code-escape: var(--pink-29);
	--text-code-keyword: var(--red-new-21);
	--text-code-link: var(--blue-new-24);
	--text-code-namespace: var(--blue-new-24);
	--text-code-number: var(--orange-new-22);
	--text-code-operator: var(--red-new-15);
	--text-code-property: var(--teal-new-25);
	--text-code-regexp: var(--green-new-25);
	--text-code-section: var(--red-new-21);
	--text-code-string: var(--green-new-25);
	--text-code-tag: var(--pink-29);
	--text-code-title: var(--blurple-23);
	--text-code-type: var(--pink-29);
	--text-code-variable: var(--neutral-8);
	--text-link: var(--blue-new-36);
	--text-normal: var(--neutral-5);
	--text-secondary: var(--neutral-23);
}
